<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Login </title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
<link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
	   body {
		background-image: url('https://clipart.coolclips.com/480/vectors/tf05231/CoolClips_vc029958.png');
		background-repeat:no-repeat;
		background-size:50%;
		background-position:center-left;
		}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
     
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="floating_labels.css" rel="stylesheet">
  </head>
  <body>
   
    <form method="post" action="/" class="form-signin">


  <div class="text-center mb-4">
    <br>
    <h1 class="h2 mb-3 font-weight-normal">Life Planner</h1>
    <p>...organizing lives since 2020</p>
  </div>
  <div class="form-label-group">
    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="username">Username</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3" align="center">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Login</button>
  <p class="mt-5 mb-3 text-muted text-center">
<footer align = center>New to Life Planner 101? <a href="/register"> Sign Up </a> for free here </footer>
   </p>
  

</form>
</body>
</html>