<!DOCTYPE html>
<html>
<head>
	<title>Life Planner</title>
	<style>
	 #imp{
	  text-indent:700px;
	}
	</style>

</head>
<body>
		<p align="right">
			<input type="button" value="About Us">
		</p>
		<br>
		<h1 style="text-align:center">Life Planner<sup>101</sup></h1>
		<div id="imp">
			<h3 text-indent:700px>...organizing lives since 2020</h3>
		</div>
		<br>

		<form method="post" action="/">
		<div align="center">
	 		<label><b>Username : </b></label>
	 		<input type="text" name="username" placeholder="Enter name here" >
	 	</div>
	 	<br>
	 	<div align="center">
	 		<label><b>Password : </b></label>
	 		<input type="password" name="password" placeholder="Enter password here" >
	 	</div>
	 	<br>
	 	<p align="center">
	 	<input type="submit" value="Login" >
	    </p>
	    <br>

	     <b><footer align = center>new to Life Planner 101? <a href="/register"> Sign Up </a> for free here </footer></b>

	 	</form>

</body>
</html>